.btn-group {
    background-color: white;
    overflow: hidden;
    padding-right: 3vw;
}
.btn-group button:first-child {
  float: left;
  padding-left: 60px;
  color: black;
  font-size: 10px;
  font-weight: bold;
}
/* Word style in nav*/
.btn-group button {
  background-color: white;
  border: none;
  float: right;
  display: block;
  color: black;
  text-align: center;
  font-size: 10px;
  font-family: Georgia, Serif;
  letter-spacing: .06em;
  font-weight: 400;
  transition-duration: .4s;
}

/* Link hover color */
.btn-group button:hover {
    color: grey;
}

/* Active link color */
.btn-group button:active {
    background-color: white;
    color: black;
}

/* Gets rid of blue outline on click */
button:focus {outline:0;}
